/* styles/global.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: auto;
  height: auto;
}

body {
  width: auto;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

.custom-modal {
  max-width: 80%; /* Ajuste o valor conforme necessário */
  margin: 50px auto 0;
  overflow: auto; /* Adiciona uma margem de 50px no topo */
}
